languages = js, javascript, c, cpp, go, php, java, python, css, html, json,shell,bash,sh,sql,yaml,ini,plaintext,xml



.vditor-ir__node[data-type="code-block"] pre
  for num in range(0,(length(languages) - 1))
    code[class~={s('"language-%s"', languages[num])}]::before
      content: s('"%s"', languages[num])

  code.hljs
    margin 4px
    padding-bottom 16px !important
    padding-top 6px !important

    &::before 
      position absolute
      color #b8bec2 !important
      display inline-block
      right 5px
      bottom 0
      z-index 0
      font-weight 600
      font-size 12px