@import "var.styl"

// 列表
ul ol, ol ol, ul ul, ol ul
  border-left 1px solid list-line-color;
  margin-left -0.85em !important;
  padding-left 2.3em !important;

// checkbox
.vditor-task
  input[type="checkbox"]
    size = 1em
    position relative
    margin-top -0.2em
    width size
    height size
    font-size size
    cursor pointer