@import "var.styl"

wrap(node-tag)
  word-wrap break-word
  overflow hidden 
  display inline-block
  border-radius 4px
  border 1px solid rgba(0, 0, 0, 0)
  padding 0.25em
  text-overflow ellipsis 
  cursor pointer
  text-decoration none
  letter-spacing 0.05em
  font-size 0.85em  
  line-height 0.85em
  margin-bottom -0.425em
  font-weight 600
  background lookup(node-tag+"-bg")
  color lookup(node-tag+"-color")

node-wrap(node-tag, text-tag = node-tag)
  .vditor-ir__node[data-type=\"{node-tag}\"]
    wrap(node-tag)
      
    .vditor-ir__{text-tag}
      color lookup(node-tag+"-color")
      text-decoration none

// 标签
node-wrap("tag")

// 块引用
node-wrap("block-ref", "blockref")

// 行内代码
code:not(.hljs)
  wrap("code")
  font-weight 400
  font-family var(--b3-font-family-code)

// 标签在块引用内
.vditor-ir__blockref
  display inline-block
  line-height 1em
  align-items center 
  .vditor-ir__node[data-type="tag"],
  .vditor-ir__node[data-type="code"] code:not(.hljs)
    padding 1px
    position relative
    top -0.3em
    font-size 0.8em