:root {
/* 主色 */
  --b3-theme-primary: #4285f4;
  --b3-theme-primary-light: rgba(66,133,244,0.54);
  --b3-theme-primary-lighter: rgba(66,133,244,0.38);
  --b3-theme-primary-lightest: rgba(66,133,244,0.12);
  --b3-theme-secondary: #f3a92f;
  --b3-theme-background: #fafafa;
  --b3-theme-surface: #f3f3f3;
  --b3-theme-error: #d23f31;
/* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #333;
  --b3-theme-on-surface: #5f6368;
  --b3-theme-on-error: #fff;
/* 字体 */
  --b3-font-family: "Han", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  --b3-font-family-code: "Code", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
/* 线条 */
  --b3-border-color: rgba(0,0,0,0.1);
/* 滚动条 */
  --b3-scroll-color: rgba(0,0,0,0.2);
/* 列表 */
  --b3-list-hover: rgba(0,0,0,0.05);
/* 页签 */
  --b3-tab-background: #f8f9fa;
  --b3-tab-background-hover: #e9eaeb;
/* 提示 */
  --b3-tooltips-color: rgba(0,0,0,0.54);
/* 卡片背景 */
  --b3-card-error-color: #611a15;
  --b3-card-error-background: #fdecea;
  --b3-card-warning-color: #663c00;
  --b3-card-warning-background: #fff4e5;
  --b3-card-info-color: #0d3c61;
  --b3-card-info-background: #e8f4fd;
  --b3-card-success-color: #1e4620;
  --b3-card-success-background: #edf7ed;
/* 自定义文字 */
  --b3-font-color1: #f5539e;
  --b3-font-color2: #944194;
  --b3-font-color3: #65b84d;
  --b3-font-color4: #f5822e;
  --b3-font-background1: rgba(217,211,215,0.5);
  --b3-font-background2: rgba(255,193,153,0.5);
  --b3-font-background3: rgba(189,201,255,0.5);
  --b3-font-background4: rgba(239,218,251,0.5);
  --b3-font-background5: rgba(234,202,220,0.5);
  --b3-font-background6: rgba(253,198,200,0.5);
/* 动画效果 */
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
/* 阴影 */
  --b3-point-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  --b3-dialog-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
/* diff */
  --b3-diff-add: #dfd;
  --b3-diff-add-surface: #97f295;
  --b3-diff-del: #fee8e9;
  --b3-diff-del-surface: #ffb6ba;
/* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #660e7a;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #0df;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #202124;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #5f6368;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;
/* 编辑器工具栏高度 */
  --b3-vditor-toolbar-height: 29px;
  --b3-vditor-toolbar-height-space: 6px;
/* 编辑器搜索颜色 */
  --b3-vditor-search-background: #ffe955;
  --b3-vditor-search-border-color: #f2e680;
  --b3-vditor-search-current-background: #a5d3fe;
/* 代码片段背景 */
  --b3-vditor-code-background: rgba(27,31,35,0.05);
/* 即时渲染标记符颜色 */
  --b3-vditor-mark-heading-color: #660e7a;
  --b3-vditor-mark-title-color: #808080;
  --b3-vditor-mark-em-color: #0033b3;
  --b3-vditor-mark-strong-color: #0033b3;
  --b3-vditor-mark-backslash-color: #0033b3;
  --b3-vditor-mark-s-color: #5f6368;
  --b3-vditor-mark-mark-color: #5f6368;
  --b3-vditor-mark-link-color: #008000;
  --b3-vditor-mark-bracket-color: #00f;
  --b3-vditor-mark-paren-color: #008000;
  --b3-vditor-mark-block-color: #660e7a;
  --b3-vditor-mark-tag-color: #0033b3;
/* 即时渲染行内元素颜色 */
  --b3-vditor-inline-strong-color: #202124;
  --b3-vditor-inline-em-color: #202124;
  --b3-vditor-inline-s-color: #202124;
  --b3-vditor-inline-link-color: #2f54eb;
  --b3-vditor-inline-mark-background: #ffedc9;
  --b3-vditor-inline-mark-color: #202124;
  --b3-vditor-inline-tag-color: #5f6368;
  --b3-vditor-inline-blockref-color: #660e7a;
}
@font-face {
/* 思源黑体 */
  font-family: 'Han';
  font-style: normal;
  src: url("fonts/SourceHanSansCN-Regular.otf");
}
@font-face {
  font-family: 'Code';
  font-style: normal;
  src: url("fonts/CascadiaMonoPL.ttf");
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-js"]::before {
  content: "js";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-javascript"]::before {
  content: "javascript";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-c"]::before {
  content: "c";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-cpp"]::before {
  content: "cpp";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-go"]::before {
  content: "go";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-php"]::before {
  content: "php";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-java"]::before {
  content: "java";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-python"]::before {
  content: "python";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-css"]::before {
  content: "css";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-html"]::before {
  content: "html";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-json"]::before {
  content: "json";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-shell"]::before {
  content: "shell";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-bash"]::before {
  content: "bash";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-sh"]::before {
  content: "sh";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-sql"]::before {
  content: "sql";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-yaml"]::before {
  content: "yaml";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-ini"]::before {
  content: "ini";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-plaintext"]::before {
  content: "plaintext";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code[class~="language-xml"]::before {
  content: "xml";
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code.hljs {
  margin: 4px;
  padding-bottom: 16px !important;
  padding-top: 6px !important;
}
.vditor-reset .vditor-ir__node[data-type="code-block"] pre code.hljs::before {
  position: absolute;
  color: #b8bec2 !important;
  display: inline-block;
  right: 5px;
  bottom: 0;
  z-index: 0;
  font-weight: 600;
  font-size: 12px;
}
.vditor-reset ul ol,
.vditor-reset ol ol,
.vditor-reset ul ul,
.vditor-reset ol ul {
  border-left: 1px solid #eee;
  margin-left: -0.85em !important;
  padding-left: 2.3em !important;
}
.vditor-reset .vditor-task input[type="checkbox"] {
  position: relative;
  margin-top: -0.2em;
  width: 1em;
  height: 1em;
  font-size: 1em;
  cursor: pointer;
}
.vditor-reset .vditor-ir__node[data-type="tag"] {
  word-wrap: break-word;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0);
  padding: 0.25em;
  text-overflow: ellipsis;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: 0.85em;
  line-height: 0.85em;
  margin-bottom: -0.425em;
  font-weight: 600;
  background: #d4eefc;
  color: #003a8c;
}
.vditor-reset .vditor-ir__node[data-type="tag"] .vditor-ir__tag {
  color: #003a8c;
  text-decoration: none;
}
.vditor-reset .vditor-ir__node[data-type="block-ref"] {
  word-wrap: break-word;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0);
  padding: 0.25em;
  text-overflow: ellipsis;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: 0.85em;
  line-height: 0.85em;
  margin-bottom: -0.425em;
  font-weight: 600;
  background: rgba(59,167,118,0.1);
  color: #3ba776;
}
.vditor-reset .vditor-ir__node[data-type="block-ref"] .vditor-ir__blockref {
  color: #3ba776;
  text-decoration: none;
}
.vditor-reset code:not(.hljs) {
  word-wrap: break-word;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0);
  padding: 0.25em;
  text-overflow: ellipsis;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: 0.85em;
  line-height: 0.85em;
  margin-bottom: -0.425em;
  font-weight: 600;
  background: rgba(27,31,35,0.05);
  color: #e83e8c;
  font-weight: 400;
  font-family: var(--b3-font-family-code);
}
.vditor-reset .vditor-ir__blockref {
  display: inline-block;
  line-height: 1em;
  align-items: center;
}
.vditor-reset .vditor-ir__blockref .vditor-ir__node[data-type="tag"],
.vditor-reset .vditor-ir__blockref .vditor-ir__node[data-type="code"] code:not(.hljs) {
  padding: 1px;
  position: relative;
  top: -0.3em;
  font-size: 0.8em;
}
.vditor-reset mark {
  padding: 2px 4px;
  border-radius: 2px;
}
.vditor-reset .vditor-ir__link {
  text-decoration: none;
  color: #3ba776;
  font-weight: 500;
  cursor: pointer;
}
.vditor-reset blockquote {
  border-left: 0.25em solid #3ba776;
  background: rgba(59,167,118,0.1);
  margin: 4px;
}
.vditor-reset h1,
.vditor-reset h2,
.vditor-reset h3,
.vditor-reset h4 {
  margin-top: 10px;
}
.vditor-reset [data-node-id][fold="1"] {
  opacity: 1;
}
.vditor-reset [data-node-id][fold="1"]:not(ul):not(ol)::before {
  content: "▶";
  font-family: Code;
  margin-right: 0.2em;
}
.vditor-reset [data-node-id][fold="1"]:not(ul):not(ol)::after {
  content: "...";
}
.file-tree li {
  line-height: 2;
}
