// 编辑器区域样式设置
@import "font.styl"
@import "var.styl"

.vditor-reset
  @import "editor/*.styl"

  // mark
  mark
    padding 2px 4px
    border-radius 2px

  // 链接
  .vditor-ir__link
    text-decoration: none
    color primary-color
    font-weight 500
    cursor pointer

  // 引用
  blockquote
    border-left 0.25em solid primary-color
    background primary-bg
    margin 4px
  
  // 折叠块
  [data-node-id][fold="1"]
    opacity 1

    &::before
      content "▶"
      font-family Code
      margin-right 0.2em
    
    &::after
      content "..."
    
