@font-face 
  /* 思源黑体 */
  font-family 'Han';
  font-style normal;
  src url('fonts/SourceHanSansCN-Regular.otf');

@font-face 
  font-family 'FiraCode';
  font-style normal;
  src url('fonts/FiraCode-Regular.ttf');
